
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---------------------------------------------------structure-------------------------------------------------------*/

.c-intro-text {
    rotate: -10deg;
}

.cursor-default {
    cursor: default;
}

.section-middle {
    background-color: hotpink;
}

.section-bottom {
    background-color: green;
}

/*---------------------------------------------------------fonts-----------------------------------------------------*/
.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    color: #f97068;
    /*text-shadow: 0 0 2px #011627;*/
}

/*use a weight value from 100-900*/
.roboto-900 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/*---------------------------------------------------colors---------------------------------------------*/
.rich-black {
    color: #011627;
}

.rich-black-background {
    background-color: #011627;
}

.bitter-sweet {
    color: #f97068;
}

.bitter-sweet-background {
    background-color: #f97068;
}

.orange-web {
    color: #fcab10;
}

.orange-web-background {
    background-color: #fcab10;
}

.bootstrap-info {
    color: #54b4d3;
}

.bootstrap-info {
    background-color: #54b4d3;
}

.fandango {
    color: #C11F96
}

.fandango-background {
    background-color: #C11F96;
}

/*--------------------------------------------------hover effects-------------------------------------------------*/
.bitter-sweet-background:hover {
    background-color: #fcab10;
}

.orange-web-background:hover {
    background-color: #f97068;
}

.bitter-sweet:hover {
    color: #fcab10;
}

.orange-web:hover {
    color: #f97068;
}

/*-----------------------------------------------media queries------------------------------------------------------*/
.is-hidden {
    display: none;
}
