
.container {
    background-color: #011627;
}

.custom-container {
    background-color: #011627;
}

.navbar {
    background-color: #011627;
}

.nav-menu {
    background-color: darksalmon;
}

.section-top {
    background-color: aquamarine;
}

.section-middle {
    background-color: hotpink;
}

.section-bottom {
    background-color: green;
}

/*font*/
.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    color: #f97068;
}

/*custom link colors*/
.is-hidden {
    display: none;
}

.btn-custom {
    color: #011627;
    background-color: #f97068;
}

.fa-custom-color {
    color: #fcab10;
}

.btn-custom:hover {
    background-color: #fcab10;
}

.fa-custom-color:hover {
    color: #f97068;
}
